@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');
html {
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(40vh - 80px);
	width: 100%;
	margin: auto;

	background-image: url("Fondo.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-position: center;
}
.hero img{
	max-width: 700px;
}

nav {
	max-width: 1200px;
	border-radius: 3rem;
	background: #22335F;
	height: 80px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
	width: 100%;
	margin: auto;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3)
	  );
}
nav a {
	background: #22335F;
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: whitesmoke;
	transition: .2s ease-in-out all;
	font-weight: 600;
	font-size: 18px;
	transition: all 300ms ease;
	margin-top: 3px;
}
nav a:hover {
	color: red;
	transform: scale(1);
	font-size: 20px;
}


.seccion {
	max-width: 1500px;
	width: 100%;
	margin: auto;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.seccion1 {
	max-width: 1500px;
	margin: auto;
	display: flex;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .seccion1 h1 {
	font-size: 28px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
} */
.seccion1 .card {
	background: #fff;
	max-width: 100%;
	border-radius: 5px;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	margin-top: 65px;
}

.seccion1 .card img {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	padding: 30px 50px 0px 50px;
	border-radius:15rem;
}
.seccion1 .card .hyt {
	width: 50%;
	max-height: 40%;
	line-height: 38px;
	margin: 40px 40px 40px 40px;
	color: #494949;
	font-size: 25px;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.seccion1 .card .hyt .historia {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 30px;
}
.seccion1 .card .hyt .texto {
	font-size: 20px;
	font-weight: 300;
}
/* - - - - - - - - - - - - - - - -  */
.seccion2 {
	max-width: 1500px;
	margin: auto;
	display: flex;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.seccion2 h1 {
	font-size: 48px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 75px 0px 35px;
	color: #494949;
}
.seccion2 .card {
	background: #fff;
	max-width: 100%;
	border-radius: 5px;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
.seccion2 .card img {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	padding: 0px 50px 0px 50px;
	border-radius:15rem;

}
.seccion2 p {
	width: 50%;
	max-height: 40%;
	line-height: 38px;
	margin: 40px;
	color: #494949;
	font-size: 25px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.seccion3 {
	max-width: 800px;
	margin: auto;
	display: flex;
	width: 100vw;
	 flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px; 
	margin-bottom: 80px; 
}
.seccion3 h1 {
	font-size: 48px;
	text-align: center;
	color: #494949;
	margin-top: 100px;
	margin-bottom: 50px;
}
.seccion3 .card {
	margin: 20px;
	width: 100%;
}
/* .seccion3 .card ul {
} */

.seccion3 .card ul li{
	font-size: 25px;
	line-height: 50px;
}

@media screen and (max-width: 1100px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
	.hero img{
		max-width: 700px;
		width: 100vw;
	}
}


footer{

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #22335F;
		width: 100vw;
		margin: auto;

}
footer img{
	width: 400px;
	height: 250px;
	margin-top: -50px;
}
footer .numero{
	color: whitesmoke;
	font-size: 28px;
}
footer .copy {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-evenly;

}
footer .copy p{
	color: whitesmoke;

}

@media screen and (max-width: 900px) {
	nav a {
		font-size: 10px;
	}
	.seccion1 h1 {
		font-size: 18px;
		
	}

	.seccion1 p {
		line-height: 25px;
	font-size: 20px;
	margin: 10px;
	}
}

@media screen and (max-width: 650px) {
	nav a {
		font-size: 10px;
	}
	.seccion1 h1 {
		font-size: 18px;
		
	}

	.seccion1 p {
		line-height: 15px;
	font-size: 10px;
	margin: 5px;
	}
	.seccion1 .card .hyt {
		margin: 0px 0px 0px 0px;
		margin-top: 20px;
	}
	.seccion1 .card img {
		padding: 0px 0px 0px 0px;
	}
	.seccion1 .card .hyt .texto {
		font-size: 15px;
		font-weight: 300;
	}

	.seccion2 p {
		line-height: 20px;
		font-size: 15px;
		padding: 5px;
		margin: 5px;
	}
	.seccion2 .card img {
	padding: 5px 50px 5px 50px;
	}

	.seccion3 .card ul li{
		font-size: 15px;
		line-height: 14px;
		margin: 20px;
	}
}